*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
  }
  #homepage{
    background-image: url(https://img.freepik.com/free-vector/display-template-with-smartphone_79603-1240.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#aboutpage{
    color: white;
    background-color: cadetblue;
    width: 100%;
    height: 100px;
}
#category{
    color: white;
    background-color: teal;
    width: 200px;
    height: 40px;
    border: none;
}
#category:hover{
    background-color: steelblue;
}
#search{
    width: 80px;
    height: 40px;
    margin-top: 12px;
    color: white;
    background-color: cornflowerblue;
}
#search:hover{
    background-color: rgb(20, 66, 103);
}
#profile{
    width: 50px;
    height: 40px;
    color: white;
    background-color:rgb(14, 105, 75);
    border-radius: 25px;
}
#profileimage{
    background-image: url(https://png.pngtree.com/background/20230610/original/pngtree-cartoon-avatar-of-a-man-in-a-jacket-picture-image_3017075.jpg);
    width:250px ;
    height:150px;
    background-size: cover;
    border-radius: 50px;
}
#navlinks:hover{
    color: white;
    background-color: rgba(215, 23, 215, 0.559);
    border-radius: 20px;
}
#viewproduct{
    height: 400px; 
    width: 80%;  
}

#divtable{
    overflow-x: auto;
}

#table{
    width: 100%;
    border-collapse: collapse;
}

#navbar{
    margin: 0;
    padding: 0;
}

#footer{
    margin: 0;
    padding: 0;
}
