*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}


/* const displaytotal = ()=>{
  if(cartArray.length>0){
    setTotal(cartArray.map(item=>item.price).reduce((n1,n2)=>n1+n2))
  }
} */


